.dashboard {
    
    background-color: #3C3C3C;
    color: #3C3C3C;
    height: 100vh;  /* Viewport height */
    width: 100vw;
    display: flex;
    justify-content: center;  /* Center horizontally */
    text-align: center;
   




}


