/* src/components/Login.css */

.login-container {
    margin: 0;
    height: 100vh;  /* Viewport height */
    justify-content: center;
    align-items: center;
    
   
}



.login-container  input {
    padding: 1%;
    font-size: 4%;
    border:2% solid #ccc;
    border-radius: 4%;
}

.login-container ul li {
    margin-bottom: 5%;


}