.uploadbox {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 300px; /* Adjust this value based on your preference */
    max-width: 80vw; /* 80% of the viewport width */
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pdf-preview {
    width: 30%;
    border-right: 1px solid #ccc;
    padding-right: 20px;
    /* Add styles to display the PDF's front page */
}

.categories {
    width: 30%;
    padding: 0 20px;
    border-right: 1px solid #ccc;
}

.section-container {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-header {
    margin-bottom: 10px;
    font-weight: bold;
}

.technical-upload {
    width: 30%;
    height: 180px;
    background-color: #f0f0f0; /* Greyish background */
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* This is to position the input field over the div */
}

.technical-upload input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0; /* This makes the input invisible but still clickable */
    cursor: pointer;
}

.upload-text {
    color: #666;
}

.uploadbox:hover,
.technical-upload:hover {
    background-color: #f5f5f5; /* Lighter tone when hovered */
}

/* If a file is dragged over the upload area */
.uploadbox.dragover,
.technical-upload.dragover {
    background-color: #e0e0e0; /* Even lighter tone when a file is dragged over */
}
